@import "src/assets/styles/index";

@font-face {
  font-family: 'CaviarDreams';
  src: url('../src/assets/fonts/CaviarDreams/CaviarDreams.ttf');
}

body {
  background: #4B79A1; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #283E51, #4B79A1); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #283E51, #4B79A1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: $text-color;
  font-family: CaviarDreams;
}

::-webkit-scrollbar {
  display: none;
}

.hidden {
  display: none;
  visibility: hidden;
}

.incorrect {
  display: block;
  background-color: $red-bg;
  padding: 0.25rem;
}

input {
  outline-color: $blue-color;
  border: 0.1rem solid $blue-color;
  padding: 0.5rem 0.75rem;
  border-radius: 0.2rem;
}

.btn {
  background-color: white;
  color: black;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  outline: none;
  border: none;
  width: 100%;

  &:hover {
    cursor: pointer;
  }
}

.btn_submit {
  color: $text-color;
  background-color: $green-color;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  outline: none;
  border: none;
  width: 100%;
}
